{% extends 'gameDB/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'gameDB/styles/signup/signup.css' %}">
{% endblock links %}

{% block title %}
    Sign Up
{% endblock title %}

{% block main %}
    <form method="POST">
    <h1 style="font-family: 'nasa';">Login</h1>
        {% csrf_token %}
        <div>
            <label>Email:</label>
            <input type="text" name="username">
        </div>
        <div>
            <label>Password:</label>
            <input type="password" name="password">
        </div>
        <div id="signup_div">
            <small>Need an account ? <a href="{% url 'sign-up' %}">Sign Up</a></small>
            <input type="submit" value="Login">
        </div>
    </form>
{% endblock main %}