{% extends 'gameDB/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'gameDB/styles/signup/signup.css' %}">
{% endblock links %}

{% block title %}
    Sign Up
{% endblock title %}

{% block main %}
    <form method="POST">
        <h1 style="font-family: 'nasa';">Sign Up</h1>
    {% csrf_token %}
    {% for field in form %}
        <div>
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
    <div id="signup_div"><small>Already have an account ? <a href="{% url 'sign-in' %}">Sign In</a></small><input type="submit" value="Sign Up"></div>


    </form>
{% endblock main %}