{% extends 'gameDB/base.html' %}
{% load static %}

{% block links %}
    <link rel="stylesheet" href="{% static 'gameDB/styles/signup/signup.css' %}">
{% endblock links %}

{% block title %}
    Sign Up
{% endblock title %}

{% block main %}
    <form method="POST">
    {% csrf_token %}
    {% for field in form %}
        <div>
            {{ field.label_tag }}
            {{ field }}
            {% if field.errors %}
                {% for error in field.errors %}
                    <p style="color: red">{{ error }}</p>
                {% endfor %}
            {% endif %}
        </div>
    {% endfor %}
    <input type="submit">

    </form>
{% endblock main %}