@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,300&display=swap');


#score_cont{
  height: 90%;
  width: 60%;
  background-color: #42505F;
  color: white;
  overflow-y: scroll;
  display: flex;
  align-items: center;
  padding: 20px 30px;

  &::-webkit-scrollbar {
    width: 16px;
  }

  &  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #2f3449;
    border-radius: 10px;
  }

  h1{
     margin-top: 50px;
    font-size: 35px;
  }

  table{
    width: 100%;
    text-align: center;
    height: auto;
    border-spacing: 1.5em;

    thead{
      font-size: 20px;
      font-weight: bold;
      font-family: "Work Sans", sans-serif;
    }

    tbody{
      font-size: 14px;
    }

  }
  #score_head{
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-family: "Work Sans", sans-serif;

    #score_games{
      width: 40%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    #score_total{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 40%;

    }
  }
}